<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>app_store_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,706},{135,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,40}}</string>
                <key>sourceSize</key>
                <string>{135,40}</string>
            </dict>
            <key>banner_characters_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,128}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>banner_comic_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{354,108}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{354,108}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>banner_dueler_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,246},{346,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{346,128}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>banner_paladin_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,124},{354,120}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,120}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>banner_rogue_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{346,120}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{346,120}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>banner_sorc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{346,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{346,128}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>btn_activate_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,752},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>btn_activate_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,818},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>btn_craft_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,964},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>btn_craft_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,906},{139,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,56}}</string>
                <key>sourceSize</key>
                <string>{139,56}</string>
            </dict>
            <key>btn_gachieve2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gachieve2_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,654},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gachieve3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gachieve3_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,604},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gachieve_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gladders2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,672},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gladders2_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,672},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gladders3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,622},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gladders3_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,622},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gladders_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,572},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gladders_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,572},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gplay_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,876},{64,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_gplay_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,706},{64,52}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_gsign_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,704},{150,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{150,46}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gsign_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,706},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{150,44}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gsignout_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,522},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_gsignout_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,522},{154,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,48}}</string>
                <key>sourceSize</key>
                <string>{160,54}</string>
            </dict>
            <key>btn_newgame_difficulty.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,152},{203,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,56}}</string>
                <key>sourceSize</key>
                <string>{203,56}</string>
            </dict>
            <key>btn_newgame_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,94},{203,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,56}}</string>
                <key>sourceSize</key>
                <string>{203,56}</string>
            </dict>
            <key>dialog_option_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,840},{54,86}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{54,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{68,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{68,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,90},{76,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{76,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,838},{70,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{70,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,946},{84,68}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,752},{70,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{70,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{76,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{76,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,924},{76,82}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{76,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,946},{84,68}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{84,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,754},{64,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{64,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,838},{84,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{84,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,752},{54,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{54,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dialog_option_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,752},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>e1_banner_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,596},{346,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{346,108}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>e2_banner_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{346,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{346,108}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>e3_banner_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,486},{346,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{346,108}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>e4_banner_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,376},{346,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{346,108}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>gear_item_crystal_blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,856},{88,88}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gear_item_crystal_moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{88,88}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{88,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>google_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,930},{114,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,40}}</string>
                <key>sourceSize</key>
                <string>{114,40}</string>
            </dict>
            <key>iap_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>rating_banner_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{354,120}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,120}}</string>
                <key>sourceSize</key>
                <string>{364,128}</string>
            </dict>
            <key>ui_bg_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,395},{308,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,125}}</string>
                <key>sourceSize</key>
                <string>{308,125}</string>
            </dict>
            <key>ui_bg_dialog_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,268},{308,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,125}}</string>
                <key>sourceSize</key>
                <string>{308,125}</string>
            </dict>
            <key>ui_gear_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,178},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>ui_hover_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,210},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ui_text_control.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,48},{220,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{220,44}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>ui_text_control_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,604},{28,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,64}}</string>
                <key>sourceSize</key>
                <string>{28,64}</string>
            </dict>
            <key>ui_text_control_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{220,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{220,44}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>ui_text_control_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,752},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_text_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,210},{163,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{163,36}}</string>
                <key>sourceSize</key>
                <string>{169,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_initial2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4251bdd28ec252f159c2613fe0f9c592:313f0ab14c308e697236c304b71332d8:c1db79dea498f249f392d6766324b30f$</string>
            <key>textureFileName</key>
            <string>ui_initial2.png</string>
        </dict>
    </dict>
</plist>
